<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>702323300941-1m9e3g2d5vg6abp1mgfrreqc0d3qk295.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.702323300941-1m9e3g2d5vg6abp1mgfrreqc0d3qk295</string>
	<key>API_KEY</key>
	<string>AIzaSyBj4i33KZ55yHUelZhhAakJhTLNMWqn-9k</string>
	<key>GCM_SENDER_ID</key>
	<string>702323300941</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.xolv.flutter.chat.pipeline</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-pipeline</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-pipeline.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:702323300941:ios:1d64bd67f618b258b35a04</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-chat-pipeline.firebaseio.com</string>
</dict>
</plist>